@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3490dc;
  animation: spin 1s linear infinite;
}
