@tailwind base;
@tailwind components;
@tailwind utilities;

#footercss {
    border-top: 3px solid #E4E8ED;
    width: 100%;
    height: auto; 
    min-height: 115px; 
    background-color: #FFFFFF;
    margin: 0 auto; 
}